In [1]:
import pandas as pd
import numpy as np

In [21]:
f1=pd.read_csv("FDwJob147.csv")

In [3]:
f.head()

,Nights,AIMSID,NAME,Fleet,base,Position,FlightDate,FlightNo,FlightPostfix,DepartureAirport,ARR,CrewType
0,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,911,,ALA,IST,FlightDeck
1,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,405,,ALA,KBP,FlightDeck
2,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,903,,GUW,AMS,FlightDeck
3,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,869,,GUW,IST,FlightDeck
4,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,405,,ALA,KBP,FlightDeck

In [10]:
f[f.duplicated()].count()

Nights              318
AIMSID              318
NAME                318
Fleet               318
base                318
Position            318
FlightDate          318
FlightNo            318
FlightPostfix       318
DepartureAirport    318
ARR                 318
CrewType            318
dtype: int64

In [12]:
f=f.drop_duplicates()

In [13]:
f.count()

Nights              574
AIMSID              574
NAME                574
Fleet               574
base                574
Position            574
FlightDate          574
FlightNo            574
FlightPostfix       574
DepartureAirport    574
ARR                 574
CrewType            574
dtype: int64

In [17]:
pvt=f1.pivot_table(index=['AIMSID'], columns =['ARR'], values='NAME', aggfunc='count')

In [18]:
pvt.head()

ARR,AMS,AYT,BJV,DEL,DME,DUS,FRA,HKG,IST,KBP,LED,MCT,MSQ,PEK,SVO
AIMSID,,,,,,,,,,,,,,,
41,2.0,NaN,1.0,NaN,1.0,NaN,2.0,NaN,3.0,1.0,NaN,NaN,NaN,NaN,2.0
226,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,2.0,1.0,1.0,NaN,NaN,2.0,NaN
491,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN
497,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN
498,3.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,2.0,2.0,1.0,NaN,NaN,1.0,3.0

In [20]:
f[f['AIMSID']==41]

,Nights,AIMSID,NAME,Fleet,base,Position,FlightDate,FlightNo,FlightPostfix,DepartureAirport,ARR,CrewType
0,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,911,,ALA,IST,FlightDeck
1,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,405,,ALA,KBP,FlightDeck
2,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,903,,GUW,AMS,FlightDeck
3,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,869,,GUW,IST,FlightDeck
6,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,875,,ALA,SVO,FlightDeck
7,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,913,,ALA,IST,FlightDeck
8,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,875,,ALA,DME,FlightDeck
700,2,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,947,,GUW,FRA,FlightDeck
701,2,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,871,,ALA,SVO,FlightDeck
801,3,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,903,,GUW,AMS,FlightDeck
803,3,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,559,,ALA,BJV,FlightDeck
804,3,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,947,,GUW,FRA,FlightDeck

In [22]:
f1[f1['AIMSID']==41]

,Nights,AIMSID,NAME,Fleet,base,Position,FlightDate,FlightNo,FlightPostfix,DepartureAirport,ARR,CrewType
0,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,911,,ALA,IST,FlightDeck
1,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,405,,ALA,KBP,FlightDeck
2,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,903,,GUW,AMS,FlightDeck
3,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,869,,GUW,IST,FlightDeck
4,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,405,,ALA,KBP,FlightDeck
5,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,911,,ALA,IST,FlightDeck
6,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,875,,ALA,SVO,FlightDeck
7,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,913,,ALA,IST,FlightDeck
8,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,875,,ALA,DME,FlightDeck
9,1,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,869,,GUW,IST,FlightDeck
700,2,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,947,,GUW,FRA,FlightDeck
701,2,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,871,,ALA,SVO,FlightDeck
702,2,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,871,,ALA,SVO,FlightDeck
801,3,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,903,,GUW,AMS,FlightDeck
802,3,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,903,,GUW,AMS,FlightDeck
803,3,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,559,,ALA,BJV,FlightDeck
804,3,41,ZHILISBAYEV MARAT ...,320,ALA,CP,00:00.0,947,,GUW,FRA,FlightDeck

In [26]:
pd.to_datetime(f1.FlightDate)

0     2020-04-27
1     2020-04-27
2     2020-04-27
3     2020-04-27
4     2020-04-27
5     2020-04-27
6     2020-04-27
7     2020-04-27
8     2020-04-27
9     2020-04-27
10    2020-04-27
11    2020-04-27
12    2020-04-27
13    2020-04-27
14    2020-04-27
15    2020-04-27
16    2020-04-27
17    2020-04-27
18    2020-04-27
19    2020-04-27
20    2020-04-27
21    2020-04-27
22    2020-04-27
23    2020-04-27
24    2020-04-27
25    2020-04-27
26    2020-04-27
27    2020-04-27
28    2020-04-27
29    2020-04-27
         ...
862   2020-04-27
863   2020-04-27
864   2020-04-27
865   2020-04-27
866   2020-04-27
867   2020-04-27
868   2020-04-27
869   2020-04-27
870   2020-04-27
871   2020-04-27
872   2020-04-27
873   2020-04-27
874   2020-04-27
875   2020-04-27
876   2020-04-27
877   2020-04-27
878   2020-04-27
879   2020-04-27
880   2020-04-27
881   2020-04-27
882   2020-04-27
883   2020-04-27
884   2020-04-27
885   2020-04-27
886   2020-04-27
887   2020-04-27
888   2020-04-27
889   2020-04-27
890   2020-04-27
891   2020-04-27
Name: FlightDate, Length: 892, dtype: datetime64[ns]

In [24]:
f1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 12 columns):
Nights              892 non-null int64
AIMSID              892 non-null int64
NAME                892 non-null object
Fleet               892 non-null int64
base                892 non-null object
Position            892 non-null object
FlightDate          892 non-null object
FlightNo            892 non-null int64
FlightPostfix       892 non-null object
DepartureAirport    892 non-null object
ARR                 892 non-null object
CrewType            892 non-null object
dtypes: int64(4), object(8)
memory usage: 83.7+ KB

In [27]:
pvt=f1.pivot_table(index=['AIMSID'], columns =['ARR'], values='NAME', aggfunc='count')

In [28]:
pvt.head()

ARR,AMS,AYT,BJV,DEL,DME,DUS,FRA,HKG,IST,KBP,LED,MCT,MSQ,PEK,SVO
AIMSID,,,,,,,,,,,,,,,
41,3.0,NaN,1.0,NaN,1.0,NaN,2.0,NaN,5.0,2.0,NaN,NaN,NaN,NaN,3.0
226,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,2.0,1.0,1.0,NaN,NaN,2.0,NaN
491,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN
497,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN
498,4.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,4.0,2.0,2.0,NaN,NaN,1.0,5.0

In [31]:
pvt=pvt.fillna(0)

In [33]:
pvt=pvt.astype(np.int32)

In [38]:
pvt.AIMSID==41

AttributeError: 'DataFrame' object has no attribute 'AIMSID'

In [41]:
pvt.to_csv("Some")